.holder {
  column-count: 4;
  column-gap: 20px;
}

.blocks {
  display: inline-block;
  background: red;
  padding: 20px;
  margin: 0 0 15px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .holder {
    column-count: 1;
  }
}
@media screen and (min-width: 769px) {
  .holder {
    column-count: 2;
  }
}
@media screen and (min-width: 1080px) {
  .holder {
    column-count: 3;
  }
}
@media screen and (min-width: 1200px) {
  .holder {
    column-count: 4;
  }
}
