@tailwind base;

@tailwind components;

/* BUTTONS */
.btn {
  @apply inline-block px-5 py-3 rounded-lg uppercase tracking-wider font-semibold  text-sm;
}

.btn:focus {
  @apply outline-none shadow-outline;
}
.btn-rounded {
  @apply mx-auto mx-0  font-bold rounded-full mt-4 mt-0 py-4 px-8 shadow-lg;
}

.btn-rounded:focus {
  @apply outline-none shadow-outline underline;
}

.btn-square {
  @apply inline-block px-3 py-2 rounded-sm  font-semibold  text-sm;
}

.btn-small {
  @apply bg-green-500 text-white text-xs py-1 px-4 rounded-full;
}

.btn-small:focus {
  @apply outline-none shadow-outline;
}
/* FORM */
.form-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.form-input:focus {
  @apply shadow-outline outline-none;
}

.form-label {
  @apply block text-gray-500 text-sm font-bold mb-2;
}

.form-error {
  @apply text-red-500 text-xs italic mt-1;
}

/* TAB CONTENT */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}

.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* ALERT */

.alert-banner {
  @apply w-full;
}

.alert-banner input:checked ~ * {
  @apply hidden;
}

.banner {
  @apply cursor-pointer flex px-4 py-1 shadow-md rounded-b;
}

.success {
  @apply bg-teal-100 border-t-4 border-teal-500 text-teal-900;
}

.info {
  @apply bg-blue-100 border-t-4 border-blue-500 text-blue-700;
}

.warming {
  @apply bg-orange-200 border-t-4 border-orange-500  text-orange-700;
}

.error {
  @apply bg-red-200 border-t-4 border-red-500 text-red-700;
}

/* MODAL */
.modal {
  /* box-shadow: 0 2px 8px; */

  /* top: 30vh; */
  /* left: 5%; */
}

@tailwind utilities;
